.navbar {
    display: flex;
    background-color: #f5b041;
}

.site-name {
    padding: 0px 50px;
    color: #e74c3c;
}

.site-menu {
    padding: 30px 30px;
    margin-left: 100px;
}

a {
    text-decoration: none;
    color: black;
    margin: 0px 10px;
}