.navbar {
    display: flex;
    background-color: #f5b041;
}

.site-name-active {
    padding: 10px 50px;
    color: #00f3df;
}

.site-name-inactive {
    padding: 10px 50px;
    color: #faab00;
}

.site-menu {
    padding: 10px 30px;
    margin-left: 200px;
}

a {
    text-decoration: none;
    color: black;
    margin: 0px 10px;
}